.req {
    &__wrapper {}

    &__letter {}

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            "req__text-name req__text-tel"
            "req__text-info req__text-info"
            "req__btn req__btn";
    }

    .req__btn {
        grid-area: req__btn;
    }

    .req__text-info {
        grid-area: req__text-info;
    }

    .req__text-name {
        grid-area: req__text-name;
    }

    .req__text-tel {
        grid-area: req__text-tel;
    }

    &__text {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        border: none;

        &.name {
            border-radius: 3px;
        }

        &.tel {
            border-radius: 3px;
        }

        &.info {
            width: 200%;
            display: block;
            padding: 10px;
            height: 115px;
            border-radius: 3px;
            text-align: center;
        }
    }

    &__btn {
        padding: 5px;
        background-color: rgb(198, 198, 198);
        border-radius: 3px;
        margin: 0 auto;
        width: 100%;
    }
    &__title-main{
        text-align: center;
        font-size: 60px;
        color: #fff;
        font-family: sans-serif;
        margin: 10px 0;
    }
    &__title{
        color: rgb(181, 178, 178);
    }
}