.group {
    
    &__wrapper {
    }
    &__title {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        h2 {
            text-align: center;
            color: white;
            font-size: 30px;
            font-weight: 600;
            font-family: sans-serif;
        }
    }
    .swiper-wrapper {
        display: flex !important;
        align-items: center !important;
    }
    .swiper {
        display: flex;
        a {
            display: block;
            width: max-content;
        }
        img {
            width: 100%;
            max-width: 100px;
        }
    }

    .swiper-slide{
    }
}
