.group {
        margin: 100px 0;
    &__wrapper {
    }
    &__title {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        h2 {
            text-align: center;
            color: white;
            font-size: 30px;
            font-weight: 600;
            font-family: sans-serif;
        }
    }
    .swiper-wrapper {
        display: flex !important;
        align-items: center !important;
    }
    .swiper {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
            display: block;
            width: max-content;
            
        }
        img {
            width: 100%;
            max-width: 150px;
            @media (max-width:786px) {
                max-width: 50px;
            }
        }
    }
    .swiper__text{
        color: white;
            font-family: sans-serif;
            @media (max-width:992px) {
                max-height: 7em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                line-height: 1.4;
            }
    }


}

